{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Header{% endblock %}</title>
    </head>
    <body>
        <div class="container-md">
            <header >
                <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
                    <div class="container-fluid">
                        {% if user.is_authenticated %}
                             {% if is_site_admin %}
                                <a class="navbar-brand" href="{% url 'login' %}">Home</a>
                                <a class="navbar-brand" href="{% url 'resources' %}">Resources</a>
                                <a class="navbar-brand" href="{% url 'list_files' %}">View Submissions</a>
                                 <a class="navbar-brand" href="{% url 'logout' %}">Logout</a>
                             {% else %}
                                <a class="navbar-brand" href="{% url 'login' %}">Home</a>
                                <a class="navbar-brand" href="{% url 'resources' %}">Resources</a>
                                <a class="navbar-brand" href="{% url 'file_upload' %}">Submit a Report</a>
                                <a class="navbar-brand" href="{% url 'view-my-submissions' %}">My Submissions</a>
                                 <a class="navbar-brand" href="{% url 'logout' %}">Logout</a>
                             {% endif %}
                        {% else %}
                            <a class="navbar-brand" href="{% url 'resources' %}">Resources</a>
                            <a class="navbar-brand" href="{% url 'file_upload' %}">Submit a Report</a>
                            <a class="navbar-brand" href="{% url 'login' %}">Login</a>
                        {% endif %}
                        
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </nav>
            </header>
            <div class = "container-md">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>